<h1 class="mt-4">Edit Node</h1>

<div class="row">
  <div class="col-12">
    <h3>Insert id to retrieve node to edit</h3>
  </div>
</div>

<form (ngSubmit)="retrieveNode()" [formGroup]="idNodeFormGroup">
  <div class="row">
    <div class="col-md-2">Id Node:</div>
    <div class="col-md-4"><input class="w-100 form-control" formControlName="idNode" type="number" name="idNode"
                                 required/></div>
    <div class="col-12 text-danger" *ngIf="idNode!.invalid && (idNode!.dirty || idNode!.touched)">
      <div *ngIf="idNode!.errors?.required">
        <p>Id node is required.</p>
      </div>
      <div *ngIf="idNode!.errors?.pattern">
        <p>Id must be an integer between 0 and {{maxInteger}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p [ngClass]="{'text-danger' : !retrieveSuccess, 'text-success' : retrieveSuccess}">{{retrieveMessage}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input class="btn btn-primary float-md-end" type="submit" value="Get node to edit"/>
      <input class="btn btn-secondary float-md-start" type="button" value="Go to Home" (click)="goToHome()"/>
    </div>
  </div>

</form>


<div class="mt-4" *ngIf="nodeForm.id">
  <h2>Node to edit</h2>

  <div class="row mb-2">
    <div class="col-md-2">
      Id:
    </div>
    <div class="col-md-6">
      {{nodeForm.id}}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-2">
      Name:
    </div>
    <div class="col-md-6">
      {{nodeForm.name}}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-2">Description:</div>
    <div class="col-md-4"><input class="w-100 form-control" [(ngModel)]="nodeForm.description"/></div>
  </div>

  <div class="row mb-2">
    <div class="col-md-2">
      Parent ID:
    </div>
    <div class="col-md-4"><input class="w-100 form-control" type="number" [(ngModel)]="nodeForm.parent_id"/></div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <p [ngClass]="{'text-danger' : !success, 'text-success' : success}">{{message}}</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <input class="btn btn-secondary float-md-start" type="button" value="Go to Home" (click)="goToHome()"/>
      <input class="btn btn-primary float-md-end" type="button" value="Edit" (click)="editNode()"/>
    </div>
  </div>
</div>

