<h1 class="mt-4">Show Node Tree</h1>

<div class="row">
  <div class="col-12">
    <h3>Insert id to retrieve node tree</h3>
  </div>
</div>

<form (ngSubmit)="retrieveNodeTree()" [formGroup]="idNodeFormGroup">
  <div class="row">
    <div class="col-md-2">Id Node:</div>
    <div class="col-md-4">
      <input class="w-100 form-control" formControlName="idNode" name="idNode" type="number" required/>
    </div>
    <div class="col-12" *ngIf="idNode!.invalid && (idNode!.dirty || idNode!.touched)">
      <div *ngIf="idNode!.errors?.required">
        <p class="validation-error">Id node is required.</p>
      </div>
      <div *ngIf="idNode!.errors?.pattern">
        <p class="validation-error">Id must be an integer between 0 and {{maxInteger}}</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <p [ngClass]="{'text-error' : !retrieveSuccess, 'text-success' : retrieveSuccess}">{{retrieveMessage}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input class="btn btn-secondary float-start" type="button" value="Go to Home" (click)="goToHome()"/>
      <input class="btn btn-primary float-end" type="submit" value="Get node tree"/>
    </div>
  </div>

</form>

<div class="row mt-2" *ngIf="nodeForm.id">
  <div class="col-12">
    <h2>Node Tree</h2>
  </div>

  <div class="col-12" [innerHTML]="nodeTree"></div>
  <div class="col-md-6">
    <input class="btn btn-secondary float-md-start" type="button" value="Go to Home" (click)="goToHome()"/>
  </div>
</div>

