<h1>Welcome to nodeform Widget</h1>

<h3>These are the available actions:</h3>
<div class="row">
  <div class="col-12">
    <ul>
      <li><a href="new-node">Create new node</a></li>
      <li><a href="edit-node">Edit existing node</a></li>
      <li><a href="tree-node">Retrieve node tree</a></li>
    </ul>
  </div>
</div>
