<h1 class="mt-4">Create new Node</h1>

<form (ngSubmit)="createNode()" [formGroup]="nodeFormGroup">
  <div class="row mb-2">
    <div class="col-md-2">Name:</div>
    <div class="col-md-4"><input class="w-100 form-control" formControlName="name" name="name" required
                                 maxlength="nameMaxLength"/></div>
    <div class="col-12 text-danger" *ngIf="name!.invalid && (name!.dirty || name!.touched)">
      <div *ngIf="name!.errors?.required">
        <p>Name is required.</p>
      </div>
      <div *ngIf="name!.errors?.maxLength">
        <p>Name cannot exceed the maximum length of 50 characters</p>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-2">Description:</div>
    <div class="col-md-4"><input class="w-100 form-control" formControlName="description" required
                                 maxlength="descriptionMaxLength"/></div>
    <div class="col-12 text-danger" *ngIf="description!.invalid && (description!.dirty || description!.touched)">
      <div *ngIf=" description!.errors?.required">
        <p>Description is required.</p>
      </div>
      <div *ngIf="description!.errors?.maxLength">
        <p>Description cannot exceed the maximum length of 250 characters</p>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-2">Parent ID:</div>
    <div class="col-md-4"><input class="w-100 form-control" type="number" formControlName="parentId"/></div>
    <div class="col-12 text-danger" *ngIf="parentId!.invalid && (parentId!.dirty || parentId!.touched)">
      <div *ngIf="parentId!.errors?.pattern">
        <p>Parent Id must be a integer between 0 and {{maxInteger}}</p>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <p [ngClass]="{'text-danger' : !success, 'text-success' : success}">{{message}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input class="btn btn-secondary float-md-start" type="button" value="Go to Home" (click)="goToHome()"/>
      <input class="btn btn-primary float-md-end" type="submit" value="Create"/>
    </div>
  </div>


</form>






